<?xml version="1.0" encoding="utf-8"?>
<!--
    SPDX-FileCopyrightText: 2022 Volker Krause <vkrause@kde.org>
    SPDX-License-Identifier: CC0-1.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.kde.publictransport.onboard">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
</manifest>
